.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.top {
  width: 100%;height: 100%;
  flex-grow: 1;
  display: flex;
  gap: 10px;
}

.letters {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  flex-grow:1;
  // border: 1px solid $border_light2;
  // border-radius: 5px;
  @include flexMid;
  gap: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  .vowels,
  .consonants {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    h3 {
      width: clamp(20px, calc(20px + 2vw), 50px);
      height: clamp(20px, calc(20px + 2vw), 50px);
      font-size: clamp(16px, calc(16px + 1.5vw), 30px);
      text-transform: uppercase;
      border-radius: 10px;
      border: 3px solid $border_light2;
      background-color: $components_light2;
      @include flexMid;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        border: 3px solid $border_light1;
        background-color: $components_light1;
        transform: scale(1.1);
      }
    }
  }
}

.wrong {
  background-color: #e05555 !important;
}
.right {
  background-color: #55e055 !important;
}


.hangman {
  border: 1px solid $border_light2;
  border-radius: 5px;
  flex-grow: 2;
  min-width: 250px;
}

.action{
width: 100%;
display: flex;
align-items: center;
justify-content: space-evenly;

}
