.bodyDoc {
  max-width: 100vw;
  overflow-x: hidden;
}

.userOrTech {
  width: 100%;
  display: flex;
  gap: 50px;
  margin: 20px;
  justify-content: center;
  align-items: center;
}

.user,
.dev {
  width: 200px;
  height: 80px;
  @include flexMid;
  border: 3px solid rgb(129, 10, 129);
  border-radius: 10px;
  font-size: 22px;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    background-color: rgb(241, 155, 241);
    font-weight: bold;
  }
}
.pageChoose {
  background-color: rgb(241, 155, 241);
  text-decoration: underline;
  text-underline-offset: 8px;
}

.docUser,
.docDev {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  h3 {
    margin: 30px;
  }
  img {
    margin: 30px;
  }
}

.docDev {
  h3 {
    width: 100%;
    text-align: center;
  }
  h4 {
    text-decoration: underline;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  align-items: start;
}

.dnone {
  display: none;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px 0 10px;
  padding: 0;
  font-size: 16px;
}

.githubLink{
  img{
  margin: 0;
  width: 100px;
  transform : translateY(40%);
  border-radius: 25px;
  }
}
