.main_frame {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.tests {
  width: 100%;
  padding: 10px;
  h3 {
    text-align: center;
    margin-top: 20px;
  }
}

.info {
  border: 1px solid $border_light2;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 4fr;
}
.help {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  h4,
  h3 {
    cursor: pointer;
    margin: 10px;
    text-align: center;
  }
}
#buy_vowel,
#buy_consonant,
#buy_ht {
  width: 75%;
  border: 3px solid $border_light2;
  background-color: $components_light2;
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    border: 3px solid black;
    h3,
    h4 {
      transform: scale(1.05);
      transition: all 0.3s;
    }
  }
}

.resultat {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}
.record {
  display: inline-block;
}
.newRecord {
  position: absolute;
  bottom: 0;
  right: -10px;
  width: 100%;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  overflow: hidden;
  .newRecordAnimation {
    color: red !important;
    animation : animNewRecord 3s forwards;
  }

  @keyframes animNewRecord {
    0%{
      transform : translateY(100%);
    }
    10%{transform : translateY(20%);}
    90%{transform : translateY(20%);}
    
    100%{
      transform : translateY(-100%);
    }
  }
}

.hangMan_token {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#buy_ht {
  width: 90%;
  @include flexMid;
  text-align: center;
  padding: 15px 25px;
  transition: all 0.3s;
  &:hover {
    border: 3px solid black;

    h4 {
      transform: scale(1.05);
      transition: all 0.3s;
    }
  }
}
.word {
  display: flex;
  border: 1px solid $border_light2;
  border-radius: 5px;
  flex-grow: 4;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  h2 {
    font-family: "Roboto Mono", monospace;
    margin: 5px;
    padding: 5px 15px;
    border-radius: 10px;
    text-transform: uppercase;
    border: 3px solid $border_light2;
    background-color: $components_light2;
    @include flexMid;
    transition: all 0.3s;
  }
}
