/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.container {
  width: 94%;
  margin: 5px auto;
  max-width: 1600px;
  border-radius: 5px;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 96%;
  }
}
@media all and (max-width: 768px) {
  .container {
    width: 98%;
  }
}
h1,
h2,
h3,
h4,
p, a,
label,
input,
button {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  padding: 0;
  color: #202020;
}

a {
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
}

h1 {
  font-size: clamp(32px, 24px + 2.2vw, 60px);
  letter-spacing: calc(1px + 0.12vw);
  text-shadow: 1px 1px 2px black;
}

h2 {
  font-size: clamp(23px, 20px + 1.65vw, 40px);
  letter-spacing: calc(1px + 0.04vw);
  text-shadow: 1px 1px 2px black;
}

h3 {
  font-size: clamp(20px, 20px + 1vw, 29px);
  letter-spacing: calc(1px + 0.02vw);
  text-shadow: 1px 1px 2px black;
}

h4 {
  font-size: clamp(18px, 14px + 0.7vw, 22px);
  line-height: clamp(22px, 20px + 1.2vw, 35px);
  text-shadow: 1px 1px 2px black;
  font-weight: normal;
}

p {
  font-size: clamp(16px, 14px + 0.6vw, 20px);
  line-height: clamp(20px, 20px + 1vw, 33px);
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tac {
  width: 100%;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.top {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  gap: 5vw;
}

.letters {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  flex-grow: 3;
  max-height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.letters .vowels,
.letters .consonants {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}
.letters .vowels h3,
.letters .consonants h3 {
  width: 100%;
  height: 100%;
  font-size: clamp(16px, 16px + 1.5vw, 30px);
  text-transform: uppercase;
  border-radius: 10px;
  border: 3px solid #bbbbbb;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}
.letters .vowels h3:hover,
.letters .consonants h3:hover {
  border: 3px solid #cecece;
  background-color: #e8e8e8;
  transform: scale(1.1);
}

.wrong {
  background-color: #e05555 !important;
}

.right {
  background-color: #55e055 !important;
}

.hangman {
  border-radius: 5px;
  flex-grow: 2;
  min-width: 250px;
  flex-grow: 2;
}

.action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.hangman {
  position: relative;
}

.imgHangman {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  filter: drop-shadow(1px 1px 5px #191919);
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  animation: initHangman 1s ease-in-out forwards;
}

@keyframes initHangman {
  from {
    top: 0%;
  }
}
.appearHangman {
  animation: appear 0.5s ease-in-out forwards;
}

@keyframes appear {
  from {
    top: 0%;
  }
}
.finalHangman {
  animation: finalHangman 0.5s ease-in-out forwards;
  z-index: 9;
}

@keyframes finalHangman {
  to {
    top: 70%;
  }
}
.appearHead {
  animation: appearHead 0.5s ease-in-out forwards;
  z-index: 5;
}

@keyframes appearHead {
  to {
    top: 70%;
  }
}
.main_frame {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 5px;
  position: relative;
}

.tests {
  width: 100%;
  padding: 10px;
}
.tests h3 {
  text-align: center;
  margin-top: 20px;
}

.info {
  border-radius: 5px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr;
}

.help {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.help h4,
.help h3 {
  cursor: pointer;
  margin: 5px;
  text-align: center;
}

#buy_vowel,
#buy_consonant,
#buy_ht,
.suggestedLetter {
  width: 75%;
  border: 3px solid #bbbbbb;
  background-color: #e0e0e0;
  border-radius: 10px;
  transition: all 0.3s;
  position: relative;
  cursor: pointer;
}
#buy_vowel:hover,
#buy_consonant:hover,
#buy_ht:hover,
.suggestedLetter:hover {
  border: 3px solid #cecece;
  box-shadow: 0 0 10px black;
}
#buy_vowel:hover h3,
#buy_vowel:hover h4,
#buy_consonant:hover h3,
#buy_consonant:hover h4,
#buy_ht:hover h3,
#buy_ht:hover h4,
.suggestedLetter:hover h3,
.suggestedLetter:hover h4 {
  transform: scale(1.05);
  transition: all 0.3s;
}

.hangMan_token {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.suggestedLetter {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.suggestedLetter h3,
.suggestedLetter h4 {
  color: rgb(245, 134, 6);
  text-align: center;
}

.resultat {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}

.record {
  display: inline-block;
}

.newRecord {
  position: absolute;
  bottom: 0;
  right: -10px;
  width: 100%;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  overflow: hidden;
}
.newRecord .newRecordAnimation {
  color: red !important;
  animation: animNewRecord 3s forwards;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 0 30px 10px #f9f9f9;
}
@keyframes animNewRecord {
  0% {
    transform: translateY(100%);
  }
  10% {
    transform: translateY(20%);
  }
  90% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(-100%);
  }
}

#buy_ht {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 25px;
}

.youSearch {
  text-align: center;
  margin-top: 20px;
}

.word {
  display: flex;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.word h2 {
  font-family: "Roboto Mono", monospace;
  margin: 5px;
  padding: 5px 15px;
  border-radius: 10px;
  text-transform: uppercase;
  border: 3px solid #bbbbbb;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}

.btnAction {
  font-size: clamp(16px, 16px + 1.5vw, 30px);
  border-radius: 10px;
  border: 3px solid #bbbbbb;
  background-color: #e0e0e0;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s;
}
.btnAction:hover {
  border: 3px solid #cecece;
  background-color: #e8e8e8;
  box-shadow: 0 0 10px black;
  transform: scale(1.075);
}

.toggle-switch {
  position: absolute;
  width: 100px;
  height: 50px;
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
  top: 50%;
  right: 10px;
  transform: translate(-50%, -50%);
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: var(--dark);
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid var(--dark);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  transform: translateX(-50%);
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: inset 12px -4px 0px 0px var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  transform: translateX(50px);
  background-color: var(--dark);
  box-shadow: none;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0;
  padding: 0;
  left: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 33%, rgba(249, 249, 249, 0.5647058824) 40%, rgba(249, 249, 249, 0.5647058824) 80%, rgba(0, 0, 0, 0) 100%);
  z-index: 10;
}

.victory,
.defeat,
.suggestWord,
.badWord,
.sameLetter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  color: #646464;
  border: 3px solid #bbbbbb;
  background-color: #e0e0e0;
  z-index: 15;
  transition: all 1.8s;
}

#formSuggestedWord {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 50%;
}
#formSuggestedWord #label {
  font-size: 20px;
}
#formSuggestedWord #suggestedWord {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
}

#btnSuggestedWord,
.cancel {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #bbbbbb;
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
}

#btnSuggestedWord:hover,
.cancel:hover {
  background-color: #191919;
}
#btnSuggestedWord:hover h4,
.cancel:hover h4 {
  color: #b4b4b4;
}

.nextWord,
.closeModal {
  border-radius: 10px;
  color: #646464;
  border: 3px solid #bbbbbb;
  background-color: #e0e0e0;
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
}

.modalAnimation {
  animation: flash 2.5s linear;
}

@keyframes flash {
  10% {
    box-shadow: 0px 0px 20px white;
  }
  25% {
    box-shadow: 0px 0px 30px 10px white;
  }
  40% {
    box-shadow: 0px 0px 40px 15px white;
  }
  50% {
    box-shadow: 0px 0px 50px 20px white;
  }
  60% {
    box-shadow: 0px 0px 40px 15px white;
  }
  75% {
    box-shadow: 0px 0px 30px 10px white;
  }
  100% {
    box-shadow: 0px 0px 20px white;
  }
}
body.dark {
  transition: all 0.3s;
  color: #b4b4b4;
  background-color: #191919;
}
body.dark footer,
body.dark header {
  background-color: #191919;
  box-shadow: 0px 0px 10px white;
}
body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark p,
body.dark a,
body.dark label,
body.dark input,
body.dark button {
  color: #b4b4b4;
}
body.dark .letters .vowels h3,
body.dark .letters .consonants h3 {
  border: 3px solid #606060;
  background-color: #313131;
}
body.dark .letters .vowels h3:hover,
body.dark .letters .consonants h3:hover {
  border: 3px solid #3a3a3a;
  background-color: #2a2a2a;
}
body.dark #buy_vowel,
body.dark #buy_consonant,
body.dark #buy_ht {
  background-color: #313131;
}
body.dark #buy_vowel:hover,
body.dark #buy_consonant:hover,
body.dark #buy_ht:hover {
  border: 3px solid #3a3a3a;
  box-shadow: 0px 0px 10px white;
}
body.dark .word h2 {
  border: 3px solid #606060;
  background-color: #313131;
}
body.dark .btnAction {
  border: 3px solid #606060;
  background-color: #313131;
}
body.dark .btnAction:hover {
  border: 3px solid #3a3a3a;
  background-color: #2a2a2a;
  box-shadow: 0px 0px 10px white;
}
body.dark .imgHangman {
  filter: drop-shadow(2px 2px 8px #f9f9f9);
}
body.dark .overlay {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 33%, rgba(25, 25, 25, 0.5647058824) 40%, rgba(25, 25, 25, 0.5647058824) 80%, rgba(0, 0, 0, 0) 100%);
}
body.dark .victory,
body.dark .defeat,
body.dark .suggestWord,
body.dark .badWord,
body.dark .sameLetter {
  color: #b4b4b4;
  border: 3px solid #606060;
  background-color: #313131;
}
body.dark .nextWord,
body.dark .closeModal,
body.dark .cancel,
body.dark #btnSuggestedWord {
  color: #b4b4b4;
  border: 3px solid #3a3a3a;
  background-color: #191919;
  transition: all 0.3s;
}
body.dark .nextWord:hover,
body.dark .closeModal:hover,
body.dark .cancel:hover,
body.dark #btnSuggestedWord:hover {
  background-color: #f9f9f9;
}
body.dark .nextWord:hover h4,
body.dark .closeModal:hover h4,
body.dark .cancel:hover h4,
body.dark #btnSuggestedWord:hover h4 {
  color: #646464;
}
body.dark .suggestedLetter {
  background-color: #313131;
  transition: all 0.3s;
}
body.dark .suggestedLetter h3,
body.dark .suggestedLetter h4 {
  color: rgb(245, 134, 6);
  text-align: center;
}
body.dark #suggestedWord {
  background-color: #191919;
  color: #eeeeee;
}
body.dark .newRecord .newRecordAnimation {
  background-color: #191919;
  box-shadow: 0 0 30px 10px #191919;
}

body {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #202020;
  background-color: #f1f1f1;
}

footer,
header {
  text-align: center;
  background-color: #f9f9f9;
  padding: 10px;
  box-shadow: 0px 0px 10px black;
}

header {
  position: relative;
  margin-bottom: 20px;
}

footer {
  margin-top: 20px;
}

.dnone {
  display: none;
}/*# sourceMappingURL=style.css.map */