@import "libs/reset";
@import "libs/variables";
@import "libs/container";
@import "libs/mixins";
@import "libs/polices";
@import "libs/raccourcis";
@import "./sous_fichiers/content";
@import "./sous_fichiers/hangman";
@import "./sous_fichiers/main_frame";
@import "./sous_fichiers/actions";
@import "./libs/toggle_switch";
@import "./libs/overlay";
@import "./libs/modals";
@import "./libs/dark_mode";

body {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  color: $text_light2;
  background-color: #f1f1f1;
}

footer,
header {
  text-align: center;
  background-color: $bgc_light;
  padding: 10px;
  box-shadow: 0px 0px 10px black;
}

header {
  position: relative;
  margin-bottom: 20px;
}
footer{
margin-top: 20px;
}


.dnone {
  display: none;
}
