/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.container {
  width: 94%;
  margin: 5px auto;
  padding: 10px;
  max-width: 1600px;
  background-color: #F9F9F9;
  border: 1px solid #CECECE;
  border-radius: 5px;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 96%;
  }
}
@media all and (max-width: 768px) {
  .container {
    width: 98%;
  }
}
h1,
h2,
h3,
h4,
p, a,
label,
input,
button {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  padding: 0;
  color: #202020;
}

a {
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
}

h1 {
  font-size: clamp(32px, 24px + 2.2vw, 60px);
  letter-spacing: calc(1px + 0.12vw);
  text-shadow: 1px 1px 2px black;
}

h2 {
  font-size: clamp(23px, 20px + 1.65vw, 40px);
  letter-spacing: calc(1px + 0.04vw);
  text-shadow: 1px 1px 2px black;
}

h3 {
  font-size: clamp(20px, 20px + 1vw, 29px);
  letter-spacing: calc(1px + 0.02vw);
  text-shadow: 1px 1px 2px black;
}

h4 {
  font-size: clamp(18px, 14px + 0.7vw, 22px);
  line-height: clamp(22px, 20px + 1.2vw, 35px);
  text-shadow: 1px 1px 2px black;
  font-weight: normal;
}

p {
  font-size: clamp(16px, 14px + 0.6vw, 20px);
  line-height: clamp(20px, 20px + 1vw, 33px);
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tac {
  width: 100%;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  gap: 10px;
}

.letters {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.letters .vowels,
.letters .consonants {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}
.letters .vowels h3,
.letters .consonants h3 {
  width: clamp(20px, 20px + 2vw, 50px);
  height: clamp(20px, 20px + 2vw, 50px);
  font-size: clamp(16px, 16px + 1.5vw, 30px);
  text-transform: uppercase;
  border-radius: 10px;
  border: 3px solid #BBBBBB;
  background-color: #E0E0E0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}
.letters .vowels h3:hover,
.letters .consonants h3:hover {
  border: 3px solid #CECECE;
  background-color: #E8E8E8;
  transform: scale(1.1);
}

.wrong {
  background-color: #e05555 !important;
}

.right {
  background-color: #55e055 !important;
}

.hangman {
  border: 1px solid #BBBBBB;
  border-radius: 5px;
  flex-grow: 2;
  min-width: 250px;
}

.action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.hangman {
  position: relative;
}

.imgHangman {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  filter: drop-shadow(1px 1px 5px #191919);
  transform: translateX(-50%);
  transition: all 0.3s;
}

.hangManDance {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main_frame {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.tests {
  width: 100%;
  padding: 10px;
}
.tests h3 {
  text-align: center;
  margin-top: 20px;
}

.info {
  border: 1px solid #BBBBBB;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 4fr;
}

.help {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.help h4,
.help h3 {
  cursor: pointer;
  margin: 10px;
  text-align: center;
}

#buy_vowel,
#buy_consonant,
#buy_ht {
  width: 75%;
  border: 3px solid #BBBBBB;
  background-color: #E0E0E0;
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
}
#buy_vowel:hover,
#buy_consonant:hover,
#buy_ht:hover {
  border: 3px solid black;
}
#buy_vowel:hover h3,
#buy_vowel:hover h4,
#buy_consonant:hover h3,
#buy_consonant:hover h4,
#buy_ht:hover h3,
#buy_ht:hover h4 {
  transform: scale(1.05);
  transition: all 0.3s;
}

.resultat {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}

.record {
  display: inline-block;
}

.newRecord {
  position: absolute;
  bottom: 0;
  right: -10px;
  width: 100%;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  overflow: hidden;
}
.newRecord .newRecordAnimation {
  color: red !important;
  animation: animNewRecord 3s forwards;
}
@keyframes animNewRecord {
  0% {
    transform: translateY(100%);
  }
  10% {
    transform: translateY(20%);
  }
  90% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.hangMan_token {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#buy_ht {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 25px;
  transition: all 0.3s;
}
#buy_ht:hover {
  border: 3px solid black;
}
#buy_ht:hover h4 {
  transform: scale(1.05);
  transition: all 0.3s;
}

.word {
  display: flex;
  border: 1px solid #BBBBBB;
  border-radius: 5px;
  flex-grow: 4;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.word h2 {
  font-family: "Roboto Mono", monospace;
  margin: 5px;
  padding: 5px 15px;
  border-radius: 10px;
  text-transform: uppercase;
  border: 3px solid #BBBBBB;
  background-color: #E0E0E0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btnAction {
  font-size: clamp(16px, 16px + 1.5vw, 30px);
  border-radius: 10px;
  border: 3px solid #BBBBBB;
  background-color: #E0E0E0;
  padding: 5px 15px;
  cursor: pointer;
  transition: all 0.3s;
}
.btnAction:hover {
  border: 3px solid #CECECE;
  background-color: #E8E8E8;
  transform: scale(1.1);
}

.toggle-switch {
  position: absolute;
  width: 100px;
  height: 50px;
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
  top: 50%;
  right: 10px;
  transform: translate(-50%, -50%);
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: var(--dark);
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid var(--dark);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  transform: translateX(-50%);
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: inset 12px -4px 0px 0px var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  transform: translateX(50px);
  background-color: var(--dark);
  box-shadow: none;
}

.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  padding: 0;
  left: 0;
  right: 0;
  background-color: rgba(131, 131, 131, 0.5647058824);
  z-index: 10;
}

.victory {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
  border: 3px solid #BBBBBB;
  background-color: #E0E0E0;
  z-index: 15;
  transition: all 1.8s;
}

.modalAnimation {
  animation: flash 2.5s linear;
}

@keyframes flash {
  10% {
    box-shadow: 0px 0px 20px white;
  }
  25% {
    box-shadow: 0px 0px 30px 10px white;
  }
  40% {
    box-shadow: 0px 0px 40px 15px white;
  }
  50% {
    box-shadow: 0px 0px 50px 20px white;
  }
  60% {
    box-shadow: 0px 0px 40px 15px white;
  }
  75% {
    box-shadow: 0px 0px 30px 10px white;
  }
  100% {
    box-shadow: 0px 0px 20px white;
  }
}
body.dark {
  transition: all 0.3s;
  color: #B4B4B4;
  background-color: #333;
}
body.dark footer,
body.dark header {
  background-color: #191919;
}
body.dark .container {
  background-color: #191919;
  border: 1px solid #3A3A3A;
}
body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark p,
body.dark a,
body.dark label,
body.dark input,
body.dark button {
  color: #B4B4B4;
}
body.dark .letters {
  border: 1px solid #606060;
}
body.dark .letters .vowels h3,
body.dark .letters .consonants h3 {
  border: 3px solid #606060;
  background-color: #313131;
}
body.dark .letters .vowels h3:hover,
body.dark .letters .consonants h3:hover {
  border: 3px solid #3A3A3A;
  background-color: #2A2A2A;
}
body.dark .hangman {
  border: 1px solid #606060;
}
body.dark .info {
  border: 1px solid #606060;
}
body.dark #buy_vowel,
body.dark #buy_consonant,
body.dark #buy_ht {
  border: 3px solid #606060;
  background-color: #313131;
}
body.dark .word {
  border: 1px solid #606060;
}
body.dark .word h2 {
  border: 3px solid #606060;
  background-color: #313131;
}
body.dark .btnAction {
  border: 3px solid #606060;
  background-color: #313131;
}
body.dark .btnAction:hover {
  border: 3px solid #3A3A3A;
  background-color: #2A2A2A;
  transform: scale(1.1);
}
body.dark .imgHangman {
  filter: drop-shadow(2px 2px 8px #F9F9F9);
}
body.dark .overlay {
  background-color: rgba(123, 123, 123, 0.5647058824);
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #202020;
  background-color: #f1f1f1;
}

footer,
header {
  text-align: center;
  background-color: #F9F9F9;
  padding: 20px;
}

header {
  position: relative;
}

.dnone {
  display: none;
}/*# sourceMappingURL=style.css.map */