@import "libs/reset";
@import "libs/variables";
@import "libs/container";
@import "libs/mixins";
@import "libs/polices";
@import "libs/raccourcis";
@import "./sous_fichiers/content";
@import "./sous_fichiers/main_frame";
@import "./libs/dark_mode";
@import "./libs/toggle_switch";

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: $text_light2;
}

footer,
header {
  text-align: center;
  background-color: $bgc_light;
  padding: 20px;
}

header {
  position: relative;
}
